# End of line normalization
* text=auto eol=lf

# Python sources
*.py    text=auto eol=lf diff=python

# Documents
*.md    text=auto eol=lf diff=markdown
*.txt   text=auto eol=lf

# Serialisation
*.json  text=auto eol=lf
*.toml  text=auto eol=lf
*.yaml  text=auto eol=lf
*.yml   text=auto eol=lf

# Configuration files
.editorconfig   text=auto eol=lf
.gitignore      text=auto eol=lf
LICENSE         text=auto eol=lf

# Ignore top level
.github             export-ignore
.git                export-ignore
environment.yml     export-ignore
