name: Code Checks

on:
  push:
    branches:
      - main
      - 2.3.x
  pull_request:
    branches:
      - main
      - 2.3.x

jobs:
  code-checks:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: Project-Korora
          environment-file: environment.yml

      - name: Run Pre-commit Hooks (Linting & Formatting)
        run: pre-commit run --all-files

      - name: Run Tests
        run: pytest
