name: Code Checks

on:
  push:
    branches:
      - main
      - 2.3.x
  pull_request:
    branches:
      - main
      - 2.3.x

jobs:
  code-checks:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda and update base environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
          environment-file: environment.yml

      - name: Create Conda Environment
        run: |
          echo "Creating environment from environment.yml..."
          conda env create -f environment.yml
          conda activate Project-Korora

      - name: Install pre-commit
        run: |
          conda activate Project-Korora
          pip install pre-commit

      - name: Verify pre-commit installation
        run: |
          echo "Installed conda packages:"
          conda list
          echo "Pre-commit executable location:"
          which pre-commit

      - name: Run Pre-commit Hooks (Linting & Formatting)
        run: |
          conda activate Project-Korora
          pre-commit run --all-files

      - name: Run Tests
        run: |
          conda activate Project-Korora
          pytest
