on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Code Checks

jobs:
  code-checks:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: ./.github/actions/setup-miniconda

      - name: Run Pre-commit Hooks (Linting & Formatting)
        run: pre-commit run --all-files
